*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  
  background-color: #01152a;
  padding: 3% 0%;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  font-weight: lighter;
  color: #ffffff;
}
 
.header p{
    font-size: 35px;
}

.header i {
  margin: 0 2% 0 1%;
  color: #ffffff;
  font-size: 25px;
}

.divider {
  border: solid 1%;
border-color: rgb(69, 134, 255);
margin-top: 0.5%;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 4%;
  margin-top: 5%;
  padding: 0% 4%;
}


form, .info {
  width: 50%;
}

form {
  background-color: #ffffff;
  border-radius: 4%;
  box-shadow: 0 0 2% rgba(0, 0, 0, 0.1);
  padding: 4%;
  flex: 1 1 45%;
}
.form-row {
  display: flex;
  gap: 8%;
  margin-bottom: 1%;
}

.form-row .half {
  width: 45%;
}

 

.form-width input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

form b{
    color: #5f5f5f;
    font-size: 15px;
}

.checkbox {
    align-items: center;
  font-size: 15px;
  margin-bottom:6%;
color: #aaa6a6;
}

.checkbox a{
    color: #aaa6a6;

}

.input[type="checkbox"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.checkbox input {
  margin-right: 2.5%;
transform: scale(1.4);
  transform-origin: top left;
  color: #c3c2c2;

}

.btn {
  background: #01152a;
  color: white;
  padding: 4%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
}


.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4%;
  align-self: center
}

.info-block {
  color: #ffffff;
  padding: 8%;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-block p {
  margin: 1.5%;
  font-size: 14px;
}

.info-block h4{
    font-size: 17px;
    font-weight: lighter;
}

.info-block span{
    color: #ccc;
    margin: 1.5%;
}

.info-block a {
  font-weight: bold;
color: #ffffff;
    margin: 1.5%;

}

.info-block i{
    font-size: 20px;
    margin-bottom: 2.3%;
}

